<ul>
  <% @restaurant.each_with_index do |review,id| %>
  <li class="review">
    <div class="date">
    <!-- maybe add the date -->
    </div>
    <div class="restaurant-info">
        <h2> <a href="/reviews/r/<%= review["restaurant"]%>"><%= review["restaurant"]%></a></h2>
        <img src="<%= review["res_image"]%>">
        <p>Restaurant Neighborhood: <a href="/reviews/n/<%= review["neighborhood"]%>"><%= review["neighborhood"]%></a></p>
        <p>Tags: <a href="/reviews/t/<%= review["tags"]%>"><%= review["tags"]%></a></p>
    </div>
    <div class="user-info">
        <p>Name: <a href="/reviews/u/<%= review["user_name"]%>"><%= review["user_name"]%></a></p>
        <p>Review: <%= review["review"] %> </p>
        <p>Date Visited: <%= review["res_date"] %> </p>
    </div>
    <div class="rating">Rating:
        <ul class="ratings">
            <li>Price: <a href="/reviews/p/<%= review["price"]%>"><%= review["price"]%></a></li>
            <li>Quality (out of 5): <a href="/reviews/q/<%= review["quality"]%>"><%= review["quality"]%></a></li>
            <li>Atmosphere (out of 5): <%= review["atmosphere"] %> </li>
            <li>Service (out of 5): <%= review["service"] %> </li>
        </ul>
    </div>
    <div class = "deals">
        <p>Deals: <%= review["deals"] %></p>
    </div>



<!--delete button-->
<form method="post" action="/reviews/r/<%= @restaruant_id %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
</form>



    <% end %>
  </li>
</ul>
